* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
}