* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  /* align-items: center; */
}

#trybewarts-forms-logo {
  height: 500px;
}

.section-one {
  display: flex;
  flex-wrap: wrap;
}

.section-two {
  display: flex;
  flex-direction: row;
}

.family-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
}